<div>
  <table>
    <tr>
      <td align="right">
         <md-button class="md-button" ng-click="send({topic: 'select * from Recipe'})">
              <ng-md-icon icon="list"></ng-md-icon>
          </md-button>
      <td align="right"> Ricetta: {{msg.payload[0].ricetta}}</td>
    </tr>
  </table>
</div>
<div>
  <table>
    <tr>
      <th align="left" >Step</th>
      <th>°C</th>
      <th>Durata</th>
      <th>
         <md-button class="md-button" ng-click="send({payload: -1})">
              <ng-md-icon icon="stop"></ng-md-icon>
          </md-button>
      </th>
    </tr>
    <tr ng-repeat="step in msg.payload">
        <td>{{step.desc}}</td>
        <td>{{step.temp}}</td>
        <td>{{step.time}}</td>
        <td>
           <md-button class="md-button" ng-click="send({payload: $index})">
                <ng-md-icon icon="play_arrow"></ng-md-icon>
            </md-button>
        </td>
    </tr>
  </table>
</div>
